<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="nav-link" href="/">
        <img src="/home.svg" alt="" style="width:25px;height:30px;">
    </a>
    <a class="nav-link" href="/saved-list">
        <img src="/ribbon.svg" alt="" style="width:25px;height:30px;">
    </a>
    <a class="nav-link" href="/profile">   
      <img src="/user.svg" alt="" style="width:25px;height:30px;">
    </a>
  </div>
</nav>