<% @hide_header = true  %>
<style>
body {
  background-image: url('gateway1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: cover;
}
</style>
<div class="container">
<p class="text-center" style="color:white; font-size:30px;"><strong>MyFashionApp</strong></p>
<p class="text-center" style="color:white; font-size:20px; margin-top:20px">__________</p>
<p class="text-center" style="color:white; font-size:20px; margin-top:50px">There's Always Room For Fashion.</p>

<div class="d-grid gap-2" style = "margin-top:60px">
  <a class="btn btn-dark" href="/signin" role="button">Login</a>
  <a class="btn btn-light" href=""role="button">Login with Twitter</a>
</div>

<p class="text-center" style="color:white; font-size:20px; margin-top:100px">__________</p>
<h5 class="text-center"><%= link_to "New to us? Sign up", signup_path, {:style=>'text-decoration: none; color:white;'}%></h5>
</div>

