<div class="container">
<h1>Search Results</h1>

<table>
  <thead>
    <tr>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= link_to product.title, "/products/" + product.id.to_s + "", {:style=>'text-decoration:none; font-weight:bold;'} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>